WebApplicationClient/Connected Services/AVServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56223/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataTransferObject" />
  <xs:element name="UserConsultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataTransferObject" minOccurs="0" name="req" nillable="true" type="q1:UserDTOReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataTransferObject" minOccurs="0" name="UserConsultarResult" nillable="true" type="q2:UserDTOResp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductConsultar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataTransferObject" minOccurs="0" name="req" nillable="true" type="q3:ProductDTOReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductConsultarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataTransferObject" minOccurs="0" name="ProductConsultarResult" nillable="true" type="q4:ProductDTOResp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>